<style>
  @import url('https://fonts.googleapis.com/css2?family=Martel&family=Orbitron:wght@500&family=Rethink+Sans:ital@1&family=Source+Code+Pro:wght@600&display=swap');
</style>

body{
    background-color: #9998ff;
    
    
    }



h1{
    font-family: 'Source Code Pro', monospace;
    color: black;
}
div.paper.container-lg{

    background-color: #536dca;
}

h4.card-title{

    font-family: 'Rethink Sans', sans-serif
    
}
h4.card-title{
    background-color:#6C86E3 ;
}



p{

    font-family: 'Martel', serif;
    color:black;
}


div.card-body{
background-color: #ffffff;


}

.container-xs {
    
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px; 

    p{

        font-family: 'Rethink Sans', sans-serif
    };
  }
  
 

  .centradas{
    display: block;
 margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    
    
    }

 
  